<div xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/datatables-bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/datatables-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.default.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontastic.css}"/>



    <script th:src="@{/js/jquery/jquery.js}" th:href="@{/js/jquery/jquery.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}" th:href="@{/js/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/chart/chart.js}" th:href="@{/js/chart/chart.js}"></script>
    <script th:src="@{/js/jquery.cookie/jquery.cookie.js}" th:href="@{/js/jquery.cookie/jquery.cookie.js}"></script>
    <script th:src="@{/js/datatables/datatables.min.js}" th:href="@{/js/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/popper/popper.js}" th:href="@{/js/popper/popper.js}"></script>
    <script th:src="@{/js/fontawesome.js}" th:href="@{/js/fontawesome.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}" th:href="@{/js/jquery-validation/jquery.validate.js}"></script>
    <script th:src="@{/js/localization/messages_es.min.js}" th:href="@{/js/localization/messages_es.min.js}"></script>
    <script th:src="@{/js/front.js}" th:href="@{/js/front.js}"></script>


</div>

