<div xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/datatables-bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/datatables-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.sea.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontastic.css}"/>
    <!--link rel="stylesheet" th:href="@{/css/custom.css}"-->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"  ></script>
    <script type="text/javascript" th:src="@{/js/chart/chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie/jquery.cookie.js}" ></script>
    <script type="text/javascript" th:src="@{/js/datatables/datatables.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/popper/popper.js}" ></script>
    <script type="text/javascript" th:src="@{/js/fontawesome.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation/jquery.validate.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/localization/messages_es.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/front.js}"></script>
</div>

