<section  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="usuarioL" class="justify-content-center">
    <div class="container-fluid">
        <div class="card card-body">
            <a class="col-sm-2 btn btn-primary btn-rounded btn-sm" th:href="@{/admin/usuarioC}"><i class="fa fa-star fa-sm"></i>Nuevo usuario</a>
            <table id="datatable" class="table table-hover table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Username </th>
                    <th> Nombres </th>
                    <th> Apellidos </th>
                    <th> Email </th>
                    <th> Rol </th>
                    <th> Editar </th>
                    <th th:if="${homeData != null && homeData.rol.nombre.equals('ROLE_ADMIN')}"> Eliminar </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${usuarios.empty}">
                    <td colspan="2"> No hay usuarios (imposible!) </td>
                </tr>
                <tr th:each="usuario: ${usuarios}">
                    <td><a class="text-info" th:href="@{'/usuarioV/' + ${usuario.idUsuario}}"><i class="fa fa-link"></i><span th:text="${usuario.idUsuario}" >Id </span></a></td>
                    <td><span th:text="${usuario.username}"> Username </span></td>
                    <td><span th:text="${usuario.nombres}">Nombres</span>  </td>
                    <td><span th:text="${usuario.apellidos}"> Apellidos </span></td>
                    <td><span th:text="${usuario.email}"> Email </span></td>
                    <td><span th:text="${usuario.rol.nombre}"> Rol </span></td>
                    <td><a th:id="${usuario.idUsuario}" class="editButton btn btn-info btn-rounded btn-sm flex-sm-nowrap text-white" ><i class="fa fa-edit fa-sm"></i>Editar</a></td>
                    <td th:if="${homeData != null && homeData.rol.nombre.equals('ROLE_ADMIN')}" ><a th:id="${usuario.idUsuario}" class="deleteButton btn btn-danger btn-rounded btn-sm flex-sm-nowrap text-white" ><i class="fa fa-trash fa-sm"></i>Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var relevant = /*[[${relevant}]]*/ "none";
        $(document).ready( function () {
            $('#datatable').DataTable({
                "language": {
                    "url": /*[[@{/js/localization/spanish.json}]]*/ "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
            $('#homeli').toggleClass("active");
            $('#usuarioli').toggleClass("active");
        });
        $('.editButton').click(function() {
            window.location = "/admin/usuarioE?id=" + this.id;
        });
        $('.deleteButton').click(function() {
            var id = $(this).attr('id');
            $.get("/rest/incidencia/usuarioD", {id: id}, function() {
                window.location = "/admin/usuarioL";
            });
        });
        /*]]>*/
    </script>
</section>
