<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="usuarioE" class="container justify-content-center">
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.UsuarioViewmodel"*/-->
        <div class="card elegant-color offset-2 col-md-8 my-5" >
            <form id="editarForm" action="#" th:action="@{/usuarioE}" th:object="${data.usuarioDTO}" method="post" class="form-horizontal">
                <fieldset>
                    <div class="card-header stylish-color-dark">
                        <legend class="card-title text-center my-lg-2">Editar usuario</legend>
                    </div>
                    <input title="id" th:type="hidden" th:field="*{id}" />
                    <input title="tipoUsuario" th:type="hidden" th:field="*{tipoUsuario}" />
                    <div class="form-group row">
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="nombres">Nombres</label>
                            <input id="nombres" th:field="*{nombres}" name="nombres" type="text" placeholder="" class="form-control input-md" required="required">
                        </div>
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="apellidos">Apellidos</label>
                            <input id="apellidos" th:field="*{apellidos}" name="apellidos" type="text" placeholder="" class="form-control input-md" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="email">Email</label>
                            <input id="email" th:field="*{email}" name="email" type="email" class="form-control input-md" required="required">
                        </div>
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="email">Teléfono</label>
                            <input id="telefono" th:field="*{telefono}" name="telefono" type="number" placeholder="" class="form-control input-md" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="username">Usuario</label>
                            <input id="username" th:field="*{username}" name="username" type="text" class="form-control input-md" required="required">
                        </div>
                        <div class="form-group col-md-6 my-2">
                            <span id="rolId" th:text="*{idRol}" style="display:none" ></span>
                            <label class="control-label" for="rol">Rol</label>
                            <select id="rol" th:field="*{idRol}" name="categoriaUno" class="form-control" required="required">
                                <option class="rolOption" th:each="rol : ${data.roles}" th:value="${rol.idRol}" th:text="${rol.nombre}" ></option>
                            </select>
                        </div>
                    </div>
                    <div th:if="*{tipoUsuario == 3}" id="clienteSection" class="form-group row my-2">
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="rif">RIF</label>
                            <input id="rif" th:field="*{rif}" name="rif" type="text" class="form-control input-md" >
                        </div>
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="razonSocial">Razon Social</label>
                            <input id="razonSocial" th:field="*{razonSocial}" name="razonSocial" type="text" class="form-control input-md" >
                            <label class=" control-label" for="denominacionComercial">Denominacion Comercial</label>
                            <input id="denominacionComercial" th:field="*{denominacionComercial}" name="denominacionComercial" type="text" class="form-control input-md" >
                        </div>
                    </div>
                    <div th:if="*{tipoUsuario == 2}" id="tecnicoSection" class="form-group row my-2">
                        <div class="form-group col-md-6 my-2">
                            <label class=" control-label" for="capacidad">Técnico: Capacidad</label>
                            <input id="capacidad" th:field="*{capacidad}" name="capacidad" type="number" class="form-control input-md" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-12">
                            <button type="submit" id="submit" name="submit" class="btn btn-success">Guardar cambios</button>
                            <a id="cancel" th:href="@{/usuarioL}" name="cancel" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <script th:inline="javascript">
            $(document).ready(function(){
                var id = $("#roldId").text();
                $('.rolOption option[value='+id+']').attr('selected','selected');
            });
        </script>
</div>