<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Tipo de Incidencia</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<form class="form-horizontal" th:object="${tipoIncidencia}" th:action="@{/tipoincidenciaC}" method="post" th:model>
    <fieldset>

            <!-- Form Name -->
            <legend>Crear Tipo de Incidencia</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="TipoIncidencia">Tipo de Incidencia</label>
                <div class="col-md-4">
                    <input id="TipoIncidencia" th:field="*{nombre}" name="TipoIncidencia" type="text" placeholder="" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Crear</button>
                </div>
            </div>

        </fieldset>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="@{/js/bootstrap.js}" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>