<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragmentos/header"></div>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.EncuestaViewmodel"*/-->
<div class="container">
    <form th:action="@{/encuesta}" th:object="${data}" method="post">
        <input type="hidden" th:field="*{idIncidencia}" />
        <div class="card-header text-center">
            <h2>Encuesta de Satisfacción Micromax</h2>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header text-justify">
                    <span>Según su experiencia con nuestro servicio durante la atención de la incidencia <span
                            class="text-bold" th:text="*{idIncidencia}"></span>, por favor indique su opinión con respecto a...</span>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4>Nuestro tiempo de respuesta</h4>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="btn-group btn-group-toggle col-12 row" data-toggle="buttons">
                            <div class="col-1"></div>
                            <label class="btn btn-danger col-2">
                                <input type="radio" th:value="1" th:field="*{encuesta.puntaje1}" autocomplete="off" required> Muy lento
                            </label>
                            <label class="btn btn-warning col-2">
                                <input type="radio" th:value="2"th:field="*{encuesta.puntaje1}" autocomplete="off"> Lento
                            </label>
                            <label class="btn btn-default col-2">
                                <input type="radio" th:value="3"th:field="*{encuesta.puntaje1}" autocomplete="off"> Regular
                            </label>
                            <label class="btn btn-info col-2">
                                <input type="radio" th:value="4"th:field="*{encuesta.puntaje1}" autocomplete="off"> Rápido
                            </label>
                            <label class="btn btn-primary col-2">
                                <input type="radio" th:value="5" th:field="*{encuesta.puntaje1}" autocomplete="off"> Muy rápido
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card no-padding">
                    <div class="card-header">
                        <h4>Nuestra calidad de atención</h4>
                    </div>
                    <div class="card-body bg-light text-center ">
                        <div class="btn-group btn-group-toggle col-12 row" data-toggle="buttons">
                            <div class="col-1"></div>
                            <label class="btn btn-danger col-2">
                                <input type="radio" th:value="1" th:field="*{encuesta.puntaje2}"  autocomplete="off" required> Mala
                            </label>
                            <label class="btn btn-warning col-2">
                                <input type="radio" th:value="2" th:field="*{encuesta.puntaje2}"  autocomplete="off"> Deficiente
                            </label>
                            <label class="btn btn-default col-2">
                                <input type="radio" th:value="3" th:field="*{encuesta.puntaje2}" autocomplete="off"> Regular
                            </label>
                            <label class="btn btn-info col-2">
                                <input type="radio" th:value="4" th:field="*{encuesta.puntaje2}" autocomplete="off"> Buena
                            </label>
                            <label class="btn btn-primary col-2">
                                <input type="radio"  th:value="5" th:field="*{encuesta.puntaje2}"autocomplete="off"> Excelente
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Su satisfacción con Micromax</h4>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="btn-group btn-group-toggle col-12 row" data-toggle="buttons">
                            <div class="col-1"></div>
                            <label class="btn btn-danger col-2">
                                <input type="radio" th:value="1" th:field="*{encuesta.puntaje3}"  autocomplete="off" required> Mala
                            </label>
                            <label class="btn btn-warning col-2">
                                <input type="radio" th:value="2" th:field="*{encuesta.puntaje3}" autocomplete="off"> Deficiente
                            </label>
                            <label class="btn btn-default col-2">
                                <input type="radio" th:value="3" th:field="*{encuesta.puntaje3}"  autocomplete="off"> Regular
                            </label>
                            <label class="btn btn-info col-2">
                                <input type="radio" th:value="4" th:field="*{encuesta.puntaje3}" autocomplete="off"> Buena
                            </label>
                            <label class="btn btn-primary col-2">
                                <input type="radio" th:value="5" th:field="*{encuesta.puntaje3}"  autocomplete="off"> Excelente
                            </label>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Opcional: Deje un mensaje para Micromax</h4>
                    </div>
                    <div class="card-body bg-light text-center">
                        <textarea th:field="*{encuesta.mensaje}"></textarea>
                    </div>

                </div>
                <div class="form-row ">
                    <div class="card-body float-right offset-9 col-3">
                        <button class="btn btn-primary " type="submit"> Enviar respuestas</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</div>

<script type="text/javascript">

</script>

<style>
    .btn span.fa {
        opacity: 0;
    }

    .btn.active span.fa {
        opacity: 1;
    }
</style>

</body>
</html>
