<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="incidenciaE" class="justify-content-center">
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.IncidenciaViewmodel"*/-->
    <!--/*@thymesVar id="homeData" type="com.micromax.incidencia.viewmodel.HomeViewmodel"*/-->
    <div class="container-fluid">
        <div class="card card-body">
            <form th:action="@{/incidenciaE}" th:object="${data}" method="post">
                <fieldset>
                    <div class="card-header">
                        <legend class="card-title  my-lg-2">
                            <span class="fa fa-clipboard"></span>
                            <span th:text="*{incidenciaDTO.id + ': ' + incidenciaDTO.titulo}"></span>
                        </legend>
                        <div class="col-2 card-block">
                            <div class="form-group">
                                <label class="label text-bold">Creador</label>
                                <div type="text" th:text="*{incidenciaDTO.creador.getUsername()}"
                                     class="form-control form-control-plaintext" disabled="disabled"></div>
                            </div>
                        </div>
                        <div
                            th:if="${(data.incidenciaDTO.creador.username != null
                                && homeData != null
                                && data.incidenciaDTO.creador.username.equalsIgnoreCase(homeData.username) || homeData.isAdmin())
                                && data.incidenciaDTO.status.displayName.equalsIgnoreCase('resuelta')}"
                            class="col-2 card-block"
                        >
                            <a id="close" name="close" class="btn btn-danger"> Cerrar Incidencia </a>
                        </div>
                        <div
                                th:if="${(data.incidenciaDTO.creador.username != null
                                && homeData != null
                                && data.incidenciaDTO.creador.username.equalsIgnoreCase(homeData.username) || homeData.isAdmin())
                                && data.incidenciaDTO.status.displayName.equalsIgnoreCase('cerrada')}"
                                class="col-2 card-block"
                        >
                            <a id="reopen" name="reopen" class="btn btn-danger"> Reabrir Incidencia </a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-10 offset-1">
                            <label class=" control-label" for="titulo">Titulo</label>
                            <input id="titulo" th:field="*{incidenciaDTO.titulo}" type="text"
                                   class="form-control input-md">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-8 offset-2">
                            <label class=" control-label" for="desc">Descripción</label>
                            <textarea class="form-control" id="desc" th:field="*{incidenciaDTO.descripcion} "
                                      disabled="disabled" style="height:250px;"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-1 col-4">
                            <label class=" control-label" for="categoriaUno">Categoria</label>
                            <select id="categoriaUno" name="categoriaUno" class="form-control" required="required">
                                <option value="">--- Seleccione una ---</option>
                                <option th:each="cat : ${data.categorias}" th:value="${cat.id}"
                                        th:text="${cat.nombre}"></option>
                            </select>
                        </div>
                        <div th:if="${homeData != null && (homeData.isAdmin() || homeData.isTech())}" class="col-6">
                            <div class="form-group">
                                <label class="field-label" for="incidenciaDTO.tipoIncidencia">Tipo de Incidencia</label>
                                <select id="incidenciaDTO.tipoIncidencia" name="incidenciaDTO.tipoIncidencia"
                                        class="form-control" required="required">
                                    <option value="">--- Seleccione una ---</option>
                                    <option th:each="incidencia : ${data.tipoIncidencias}"
                                            th:value="${incidencia.id}"
                                            th:text="${incidencia.nombre}"
                                            th:selected="${data.incidenciaDTO.tipoIncidencia!= null && data.incidenciaDTO.tipoIncidencia.id == incidencia.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group offset-1 col-4">
                            <label class="control-label" for="categoriaDos">Categoria Específica</label>
                            <select id="categoriaDos" class="form-control" th:field="*{incidenciaDTO.categoria}"
                                    required="required">
                                <option value="">--- Seleccione una ---</option>
                            </select>
                        </div>
                        <div class="form-group col-6"
                             th:if="${homeData != null && (homeData.isAdmin() || homeData.isTech())}">
                            <label class="control-label" for="tecnicos">Asignaciones</label>
                            <select id="tecnicos" name="asignados" th:field="*{incidenciaDTO.asignados}"
                                    class="form-control" multiple="multiple">
                                <option class="categoriasTecnicas"
                                        th:each="tec : ${data.tecnicos}"
                                        th:value="${tec.idUsuario}"
                                        th:text="${tec.username}"
                                        th:selected="${data.incidenciaDTO.asignados.contains(tec)}"
                                ></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group offset-1 col-4">
                            <label class="control-label" for="incidenciaDTO.status">Status</label>
                            <select id="incidenciaDTO.status" name="incidenciaDTO.status"
                                    th:field="*{incidenciaDTO.status}" class="form-control">
                                <option th:each="s : ${data.stati}"
                                        th:value="${s}"
                                        th:text="${s.getDisplayName()}"
                                        th:selected="${data.incidenciaDTO.status == s}">
                                </option>
                            </select>
                        </div>
                        <div class="col-auto" th:if="${homeData.isAdmin() || homeData.isTech()}">
                            <div class="card-title">Tiempo estimado</div>
                            <div class="col-auto row">
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="dias">Dias</label>
                                    <input type="number" min='0' max="100" id="dias" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.dias}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="horas">Horas</label>
                                    <input type="number" min="0" max="23" id="horas" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.hora}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="minutos">Minutos</label>
                                    <input type="number" min="0" max="59" id="minutos" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.minutos}">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="offset-2 col-8">
                            <label class="control-label" for="comentario">Comentario</label>
                            <textarea id="comentario" class="form-control" th:field="*{incidenciaDTO.comentario}"
                                      required></textarea>
                        </div>
                    </div>
                    <input id="catId" th:value="*{incidenciaDTO.categoria.id}" type="hidden">
                    <input id="dadId" th:value="*{incidenciaDTO.categoria.padre.id}" type="hidden">
                    <input id="incidenciaId" type="hidden" th:field="*{incidenciaDTO.id}"/>
                    <input type="hidden" th:field="*{incidenciaDTO.status}"/>

                    <div class="form-row btn-group float-right" style="margin-top:10px;">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Guardar</button>
                        <button id="cancel" name="cancel" class="btn btn-secondary">Cancelar</button>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>

    <script th:inline="javascript">
        $('#cancel').click(function (event) {
            event.stopPropagation();
            window.location = "/incidenciaL";
        });

        $(document).ready(function () {
            $('#categoriaUno option[value=' + $("#dadId").val() + ']').attr('selected', 'selected');
            $("#categoriaUno").change(function (e, data) {
                console.log("Buscando categorias...");
                $.ajax({
                    type: "GET",
                    url: /*[[@{/rest/incidencia/getCategoriasDos}]]*/"/rest/incidencia/getCategoriasDos",
                    data: {id: $("#categoriaUno").val()},
                    success: function (response) {
                        $("#categoriaDos").empty().append('<option value="">---Seleccione una opcion---</option>');
                        $.each(response, function (i) {
                            $("#categoriaDos").append('<option value="' + response[i].id + '">' + response[i].nombre + '</option>');
                        });
                        if (data.thing) {
                            $('#categoriaDos option[value=' + $("#catId").val() + ']').attr('selected', 'selected');
                        }
                    }
                });
            }).trigger("change", [{thing: true}]);

        });

        $('#close').click(function (event) {
            event.stopPropagation();
            window.location = "/encuesta/" + $("#incidenciaId").val();
        });

        $('#reopen').click(function (event) {
            event.stopPropagation();
            window.location = "/reopen/" + $("#incidenciaId").val();
        });
    </script>
</section>