<div th:fragment="incidenciaL"  xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container justify-content-center">
        <div class="card elegant-color my-5">
            <div class="card-header">
                <legend class="card-title text-center my-lg-2" >Incidencias</legend>
            </div>
            <div class="card-body">
                <div class="row">
                    <a class="btn btn-amber btn-rounded btn-sm" th:href="@{/incidenciaC}" href="#">Crear Incidencia</a>
                </div>

                <table id="datatable" class="table table-hover table-striped table-bordered table-dark dt-responsive nowrap">
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Titulo </th>
                        <th> Categoria </th>
                        <th> Creador </th>
                        <th> Fecha y Hora de Creacion </th>
                        <th> Status </th>
                        <th> Editar </th>
                        <th> Eliminar </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${incidencias.empty}">
                        <td colspan="2"> No hay incidencias </td>
                    </tr>
                    <tr th:each="incidencia: ${incidencias}">
                        <td><span th:text="${incidencia.idIncidencia}"> Id </span></td>
                        <td><span th:if="${incidencia.titulo}" th:text="${incidencia.titulo}"> Titulo </span></td>
                        <td><span th:if="${incidencia.categoria}" th:text="${incidencia.categoria.nombre}"></span></td>
                        <td><span th:if="${incidencia.creador}" th:text="${incidencia.creador.nombres}"> Nombre creador </span></td>
                        <td><span th:if="${incidencia.creacion}" th:text="${incidencia.creacion}"> creacion </span></td>
                        <td><span th:if="${incidencia.status}" th:text="${incidencia.status}"> Status </span></td>
                        <td><a th:id="${incidencia.idIncidencia}" class="editButton btn btn-info btn-rounded btn-sm" data-title="Editar" data-target="#editar" >Editar<i class="fa fa-edit fa-sm"></i></a></td>
                        <td><a th:id="${incidencia.idIncidencia}" class="deleteCall btn btn-danger btn-rounded btn-sm" data-title="Eliminar" data-toggle="modal" data-target="#delete" >Eliminar<i class="fa fa-trash fa-sm"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Eliminar</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Seguro que quiere eliminar?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="deleteButton btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Sí</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var relevant = /*[[${relevant}]]*/ "none";
        $(document).ready( function () {
            $('#datatable').DataTable({
                "language": {
                    "url": /*[[@{/js/localization/spanish.json}]]*/ "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });

        $('.editButton').click(function() {
            window.location = "/incidenciaE?id=" + this.id;
        });

        var id = "";
        $('.deleteCall').click(function() {
            id = $(this).attr('id');

        });
        $('.deleteButton').click(function() {
            $.get("/rest/incidencia/incidenciaD", {id: id}, function (response) {
                id = "";
                window.location = "/incidenciaL";
            });
        });
        /*]]>*/
    </script>
</div>
