<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="incidenciaCerrar"
         class="justify-content-center">
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.IncidenciaViewmodel"*/-->
    <div class="container-fluid">
        <div class="card card-body">
            <form th:action="@{/incidenciaCerrar}" th:object="${data}" method="post" class="form-horizontal">
                <fieldset>
                    <div class="card-header">
                        <legend class="card-title  my-lg-2">
                            <span class="fa fa-clipboard"></span>
                            <span th:text="*{incidenciaDTO.id + ': ' + incidenciaDTO.titulo}"></span>
                        </legend>
                    </div>
                    <div class="form-group">
                        <label class=" control-label" for="titulo">Titulo</label>
                        <input id="titulo" th:field="*{incidenciaDTO.titulo}" type="text" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label class=" control-label" for="desc">Descripción</label>
                        <textarea class="form-control" id="desc" th:field="*{incidenciaDTO.descripcion} "
                                  disabled="disabled"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class=" control-label" for="categoriaUno">Categoria</label>
                            <select id="categoriaUno" name="categoriaUno" class="form-control" required="required">
                                <option value="">--- Seleccione una ---</option>
                                <option th:each="cat : ${data.categorias}" th:value="${cat.id}"
                                        th:text="${cat.nombre}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="categoriaDos">Categoria Específica</label>
                            <select id="categoriaDos" class="form-control" th:field="*{incidenciaDTO.categoria}" required="required">
                                <option value="">--- Seleccione una ---</option>
                            </select>
                        </div>
                    </div>
                    <div th:if="${homeData != null && (homeData.isAdmin() || homeData.isTech())}" class="form-row">
                        <div class="form-group col-md-6">
                            <label class="field-label" for="incidenciaDTO.tipoIncidencia">Tipo de Incidencia</label>
                            <select id="incidenciaDTO.tipoIncidencia" name="incidenciaDTO.tipoIncidencia" class="form-control" required="required">
                                <option value="">--- Seleccione una ---</option>
                                <option th:each="inci : ${data.tipoIncidencias}" th:value="${inci.id}" th:text="${inci.nombre}" th:selected="${data.incidenciaDTO.tipoIncidencia!= null && data.incidenciaDTO.tipoIncidencia.id == inci.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div th:if="${homeData != null && (homeData.isAdmin() || homeData.isTech())}" class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="tecnicos">Asignaciones</label>
                            <select id="tecnicos" name="asignados" th:field="*{incidenciaDTO.asignados}"
                                    class="form-control" multiple="multiple">
                                <option class="categoriasTecnicas"
                                        th:each="tec : ${data.tecnicos}"
                                        th:value="${tec.idUsuario}"
                                        th:text="${tec.username}"
                                        th:selected="${data.incidenciaDTO.asignados.contains(tec)}"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="incidenciaDTO.status">Status</label>
                            <select id="incidenciaDTO.status" name="incidenciaDTO.status" th:field="*{incidenciaDTO.status}" class="form-control">
                                <option th:each="s : ${data.stati}"
                                        th:value="${s}"
                                        th:text="${s.getDisplayName()}"
                                        th:selected="${data.incidenciaDTO.status == s}">
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6 ">
                            <h4>Tiempo estimado</h4>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="dias">Dias</label>
                                    <input type="number" min='0' max="100" id="dias" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.dias}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="horas">Horas</label>
                                    <input type="number" min="0" max="23" id="horas" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.hora}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="minutos">Minutos</label>
                                    <input type="number" min="0" max="59" id="minutos" class="form-control"
                                           th:field="*{incidenciaDTO.tiempoEstimado.minutos}">
                                </div>
                            </div>

                        </div>
                    </div>

                    <input id="catId" th:value="*{incidenciaDTO.categoria.id}" type="hidden">
                    <input id="dadId" th:value="*{incidenciaDTO.categoria.padre.id}" type="hidden">
                    <input type="hidden" th:field="*{incidenciaDTO.id}"/>
                    <input type="hidden" th:field="*{incidenciaDTO.status}"/>

                    <div class="form-group form-row btn-group">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Guardar</button>

                    </div>

                </fieldset>
            </form>
            <div class="form-group form-row btn-group">
                <button id="cancel" name="cancel" class="btn btn-secondary">Cancelar</button>
                <button id="close" name="close" class="btn btn-info">Cerrar Incidencia</button>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                $('#categoriaUno option[value=' + $("#dadId").val() + ']').attr('selected', 'selected');
                $("#categoriaUno").trigger("change", [{thing: true}]);
            });

            $("#categoriaUno").change(function (e, data) {
                $.ajax({
                    type: "GET",
                    url: /*[[@{/rest/incidencia/getCategoriasDos}]]*/"/rest/incidencia/getCategoriasDos",
                    data: {id: $("#categoriaUno").val()},
                    success: function (response) {
                        $("#categoriaDos").empty().append('<option value="">---Seleccione una opcion---</option>');
                        $.each(response, function (i) {
                            $("#categoriaDos").append('<option value="' + response[i].id + '">' + response[i].nombre + '</option>');
                        });
                        if (data.thing) {
                            $('#categoriaDos option[value=' + $("#catId").val() + ']').attr('selected', 'selected');
                        }
                    }
                });
            });
            $('#cancel').click(function (event) {
                event.stopPropagation();
                window.location = "/incidenciaL";
            });

            $('#close').click(function (event) {
                event.stopPropagation();
                window.location = "/incidenciaCerrar";
            });
            //{catId}
            /*]]>*/
        </script>
    </div>
</section>