<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="incidenciaV">
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.IncidenciaViewmodel"*/-->
    <div class="container-fluid" th:object="${data}">
        <div class="card card-body">
            <fieldset>
                <div class="card-header">
                    <legend class="card-title  my-lg-2">
                        <span class="fa fa-clipboard"></span>
                        <span th:text="*{incidencia.titulo}"></span>
                    </legend>
                </div>
                <div class="row">
                    <div class="col-auto card-block">
                        <div class="form-group">
                            <label class="">Descripcion</label>
                            <textarea style="height:250px;" th:text="*{incidencia.descripcion}" class="form-control form-control-plaintext"
                                      disabled="disabled"></textarea>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto form-group">
                                <label class="col-md-12">Status</label>
                                <input type="text" th:value="*{incidencia.status.getDisplayName()}" class="form-control form-control-plaintext"
                                       disabled="disabled">
                            </div>
                            <div class="col-auto card-block">
                                <div class="form-group">
                                    <label>Categoria</label>
                                    <input type="text" th:value="*{incidencia.categoria.nombre}"
                                           class="form-control form-control-plaintext" disabled="disabled">
                                </div>
                            </div>
                            <div th:if="*{incidencia.tipoIncidencia}" class="col-md-4 card-block">
                                <div class="form-group">
                                    <label>Tipo de Incidencia</label>
                                    <input th:value="*{incidencia.tipoIncidencia.nombre}" class="form-control form-control-plaintext" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto card-block">
                                <div class="form-group">
                                    <label>Creador</label>
                                    <input type="text" th:value="*{incidencia.creador.getUsername()}"
                                           class="form-control form-control-plaintext" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-auto card-block">
                                <div class="form-group">
                                    <label>Fecha Creacion</label>
                                    <input type="text" th:value="*{incidencia.creacionFormateada()}"
                                           class="form-control form-control-plaintext" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-auto card-block">
                                <div class="form-group">
                                    <label>Fecha Estimada</label>
                                    <input type="text" th:value="*{incidencia.getTiempoEstimado().entregaFormateada()}"
                                           class="form-control form-control-plaintext" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto form-group">
                        <input type="hidden" th:value="*{incidencia.idIncidencia}">
                        <label>Tecnico(s) Asignado(s)</label>
                        <ul class="card-block" disabled multiple>
                            <li th:each="cat : *{incidencia.asignados}" th:text="${cat.username}"></li>
                        </ul>
                    </div>
                    <div class="col-auto form-group">
                        <label>Historico</label>
                        <ul class="card-block" disabled multiple>
                            <li th:each="h : *{historico}" th:text="${h.obtenerMensaje()}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group form-row">
                    <button id="cancel" name="cancel" class="btn btn-secondary">Volver</button>
                    <a id="editar" name="editar" class="btn btn-primary" th:href="@{'/incidenciaE?id=' + ${data.incidencia.idIncidencia}}">Editar</a>
                </div>

            </fieldset>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#cancel').click(function (event) {
            event.stopPropagation();
            window.location = "/incidenciaL";
        });
        /*]]>*/
    </script>
</section>