<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="categoriaC" class="container justify-content-center">
        <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.CategoriaViewmodel"*/-->
    <div class="card offset-2 col-sm-8 elegant-color my-5" >
        <form class="card-body form-horizontal" th:object="${data.categoria}" th:action="@{/categoriaC}" th:method="post" th:model>
            <fieldset>
                <div class="card-header">
                    <legend class="card-title text-center my-lg-2">Nueva Categoria</legend>
                </div>
                <div class="form-group">
                    <label class=" label" for="nombre">Nombre</label>
                    <input id="nombre" th:field="*{nombre}" name="nombre" type="text" class="form-control input-md" required="">
                </div>
                <div class="form-group">
                    <label class="label" for="nivel">Nivel</label>
                    <select id="nivel" name="nivel" class="form-control" th:field="*{padre}" required="required">
                        <option value="">--- Seleccione una ---</option>
                        <option th:each="i : ${#numbers.sequence(0, 3)}" th:value="${i}" th:text="${i}">
                    </select>
                </div>
                <div class="form-group">
                    <label class="label" for="padre">Categoria Padre</label>
                    <select id="padre" name="padre" class="form-control" th:field="*{padre}" required="required">
                        <option value="">--- Seleccione una ---</option>
                        <option th:each="cat : ${data.categorias}" th:value="${cat.id}" th:text="${cat.nombre}" ></option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Crear</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>