<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="config"
     class="container justify-content-center">
    <!--/*@thymesVar id="configData" type="com.micromax.incidencia.viewmodel.ConfigGeneralViewmodel"*/-->
    <!--/*@thymesVar id="homeData" type="com.micromax.incidencia.viewmodel.HomeViewmodel"*/-->
    <div class="container container-fluid">
        <div class="card">
            <div class="card-header">
                <legend class="card-title text-center my-lg-2">Configuraciones</legend>
            </div>
            <form id="crearForm" class="card-body form-horizontal" th:object="${configData}"
                  th:action="@{/admin/config}" method="post">  <!-- OJO con admin -->
                <fieldset>

                    <div class="form-row">
                        <div th:if="${homeData.isAdmin()}" class="form-group col-md-6">
                            <label class="control-label" for="tipoEstrategia">TipoEstrategia</label>
                            <select id="tipoEstrategia" th:field="*{tipoEstrategia}" class="form-control">
                                <option value=""> HOLA</option>
                                <option th:each="s : ${configData.tiposEstrategia}"
                                        th:value="${s}"
                                        th:text="${s.getDisplayName()}"
                                        th:selected="${configData.tipoEstrategia == s}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="cantidad">Cantidad Máxima de Incidencias Sin cerrar</label>
                            <input id="cantidad" th:field="*{maxIncResueltas}" name="cantidad" type="number" autofocus
                                   class="form-control input-md" required="required">  <!--  maxlength="50" -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class=" control-label" for="email">E-mail de Notificación</label>
                            <input id="email" th:field="*{email_Notif}" name="email" type="email"
                                   class="form-control input-md" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label class=" control-label" for="password">Password Email Notificación</label>
                            <input id="password" th:field="*{password_Notif}" name="password" type="text"
                                   class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Guardar
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>