<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.DashboardViewmodel"*/-->
    <div th:fragment="dashboard" th:object="${data}">
        <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
                <div class="row bg-white has-shadow">
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-green"><i class="fa fa-star"></i></div>
                            <div class="title"><span>Nuevas<br>Incidencias</span>
                                <div class="progress">
                                    <div th:if="${data.nuevas > 0 && data.nuevas != null}" role="progressbar"
                                         th:style="'height:4px; width: '+${data.nuevas*100/data.todas} + 'px;'"
                                         th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.nuevas}"
                                         class="progress-bar bg-green">

                                    </div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="*{nuevas}"></strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-violet"><i class="fa fa-user"></i></div>
                            <div class="title"><span>Incidencias<br>Asignadas</span>
                                <div class="progress">
                                    <div th:if="${data.todas > 0 && data.asignadas != null}" role="progressbar"
                                         th:style="'height:4px; width: '+${data.asignadas*100/data.todas} + 'px;'"
                                         th:aria-valuemin="0"
                                         th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.asignadas}"
                                         class="progress-bar bg-violet"></div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="${data.asignadas}"></strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-orange"><i class="fa fa-gear"></i></div>
                            <div class="title"><span>Incidencias<br>En Progreso</span>
                                <div class="progress">
                                    <div th:if="${data.todas > 0 && data.progreso != null}" role="progressbar"
                                         th:style="'height:4px; width: '+${data.progreso*100/data.todas} + 'px;'"
                                         th:aria-valuemin="0"
                                         th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.progreso}"
                                         class="progress-bar bg-orange"></div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="${data.progreso}"></strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-blue"><i class="fa fa-check"></i></div>
                            <div class="title"><span>Incidencias<br>Cerradas</span>
                                <div class="progress">
                                    <div th:if="${data.todas > 0 && data.cerradas != null}" class="progress-bar bg-blue"
                                         th:style="'height:4px; width: '+${data.cerradas*100/data.todas} + 'px;'"
                                         role="progressbar"
                                         th:attr="aria-valuenow=${data.cerradas}, aria-valuemin='0', aria-valuemax=${data.todas}">
                                    </div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="${data.cerradas}"></strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-red"><i class="fa fa-warning"></i></div>
                            <div class="title"><span>Incidencias<br>Retrasadas</span>
                                <div class="progress">
                                    <div th:if="${data.todas > 0 && data.retrasadas != null}" role="progressbar"
                                         th:style="'height:4px; width: '+${data.retrasadas*100/data.todas} + 'px;'"
                                         th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=50"
                                         class="progress-bar bg-red"></div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="${data.retrasadas}"></strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-auto">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-gray"><i class="fa fa-bug"></i></div>
                            <div class="title"><span>Incidencias<br>Reabiertas</span>
                                <div class="progress">
                                    <div th:if="${data.todas > 0 && data.reabiertas != null}" role="progressbar"
                                         th:style="'height:4px; width: '+${data.reabiertas*100/data.todas} + 'px;'"
                                         aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.reabiertas}"
                                         class="progress-bar bg-gray"></div>
                                </div>
                            </div>
                            <div class="number"><strong th:text="${data.reabiertas}"></strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <section class="col-lg-6">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header ">Mis incidencias</div>
                        <div class="card-body table-responsive">
                            <table id="datatable"
                                   class="table table-hover dt-bootstrap table-striped table-bordered nowrap">
                                <thead>
                                <tr>
                                    <th> Id</th>
                                    <th> Titulo</th>
                                    <th> Categoria</th>
                                    <th> Fecha y Hora de Creacion</th>
                                    <th> Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${data.incidencias.isEmpty()}">
                                    <td colspan="2"> No tiene incidencias</td>
                                </tr>
                                <tr th:class="${incidencia.estaAsignadaA(data.u)} ? 'seacolor' : ''" th:each="incidencia: ${data.incidencias}">
                                    <td><a class="text-info" th:href="@{'/incidenciaV/' + ${incidencia.idIncidencia}}">
                                        <i class="fa fa-link"></i><span th:text="${incidencia.idIncidencia}"> Id </span></a>
                                    </td>
                                    <td><span th:if="${incidencia.titulo}"
                                              th:text="${incidencia.titulo}"> Titulo </span>
                                    </td>
                                    <td><span th:if="${incidencia.categoria}"
                                              th:text="${incidencia.categoria.nombre}"></span>
                                    </td>
                                    <td><span th:if="${incidencia.creacion}"
                                              th:text="${incidencia.creacion.toLocaleString()}"> creacion </span>
                                    </td>
                                    <td><span th:if="${incidencia.status}"
                                              th:text="${incidencia.status.getDisplayName()}"> Status </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
            <section class="col-lg-6">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header ">Incidencias en el tiempo</div>
                        <div class="card-body ">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>