<!DOCTYPE html >

<section xmlns:th="http://www.thymeleaf.org" class="dashboard-counts no-padding-bottom" th:fragment="dashboard" >
    <!--/*@thymesVar id="data" type="com.micromax.incidencia.viewmodel.DashboardViewmodel"*/-->
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="fa fa-star"></i></div>
                    <div class="title"><span>Nuevas<br>Incidencias</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" role="progressbar" th:style="'height:4px; width: '+${data.nuevas*100/data.todas} + 'px;'"
                                 th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.nuevas}" class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number"><strong th:text="*{data.nuevas}"></strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="fa fa-user"></i></div>
                    <div class="title"><span>Incidencias<br>Asignadas</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" role="progressbar" th:style="'height:4px; width: '+${data.asignadas*100/data.todas} + 'px;'"
                                 th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.asignadas}" class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number"><strong th:text="${data.asignadas}"></strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="fa fa-gear"></i></div>
                    <div class="title"><span>Incidencias<br>En Progreso</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" role="progressbar" th:style="'height:4px; width: '+${data.progreso*100/data.todas} + 'px;'"
                                 th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.progreso}" class="progress-bar bg-orange"></div>
                        </div>
                    </div>
                    <div class="number"><strong th:text="${data.progreso}"></strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-blue"><i class="fa fa-check"></i></div>
                    <div class="title"><span>Incidencias<br>Cerradas</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" class="progress-bar bg-blue" th:style="'height:4px; width: '+${data.cerradas*100/data.todas} + 'px;'" role="progressbar"
                                 th:attr="aria-valuenow=${data.cerradas}, aria-valuemin='0', aria-valuemax=${data.todas}">
                            </div>
                        </div>
                    </div>
                    <div class="number"><strong th:text="${data.cerradas}"></strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="fa fa-warning"></i></div>
                    <div class="title"><span>Incidencias<br>Retrasadas</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" role="progressbar"  th:style="'height:4px; width: '+${data.todas*100/data.todas} + 'px;'"
                                 th:aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=50" class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number"><strong >12</strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-2 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-gray"><i class="fa fa-bug"></i></div>
                    <div class="title"><span>Incidencias<br>Reabiertas</span>
                        <div class="progress">
                            <div th:if="${data.todas > 0}" role="progressbar"  th:style="'height:4px; width: '+${data.reabiertas*100/data.todas} + 'px;'"
                                 aria-valuemin="0" th:attr="aria-valuemax=${data.todas}, aria-valuenow=${data.reabiertas}" class="progress-bar bg-gray"></div>
                        </div>
                    </div>
                    <div class="number"><strong th:text="${data.reabiertas}"></strong></div>
                </div>
            </div>
        </div>
    </div>
</section>