<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <div th:include="/fragmentos/header" ></div>
</head>
<body class="stylish-color-dark text-white">
<div th:replace="/fragmentos/navbar::navbar(nombre = ${nombre}, rol = ${user_role})"></div>

<div id="content" class="container ">
    <div class="row">
        <div th:if="${template}" class="col-sm">
            <div class="panel">
                <div class="panel-body">
                    <div  th:replace="@{${location} + ${template}} :: ${template}" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragmentos/footer"></div>
</bodystylish-color-dark>
</html>