<!DOCTYPE html>
<!--/*@thymesVar id="homeData" type="com.micromax.incidencia.viewmodel.HomeViewmodel"*/-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:object="${homeData}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <div th:include="fragmentos/header"></div>
</head>

<body>
<div class="page">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar" style="position: sticky;">
            <!-- Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="What are you looking for..." class="form-control">
                </form>
            </div>
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand -->

                        <a th:href="@{/home}" class="navbar-brand d-none d-sm-inline-block">
                            <div class="brand-text d-none d-lg-inline-block">
                                <strong>Micromax</strong>
                            </div>
                            <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                        </a>
                        <!-- Toggle Button-->
                        <a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>

                            <a class="btn align-items-center" th:href="@{/incidenciaC}" href="#">
                                <i class="float-left fa fa-star fa-sm " ></i>Crear Incidencia</a>

                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i
                                class="icon-search"></i></a></li>

                        <!-- Logout    -->
                        <li class="nav-item"><a th:href="@{/logout}" class="nav-link logout"> <span
                                class="d-none d-sm-inline">Cerrar Sesión</span><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar ease-transform">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="title">
                    <h1 id="usernameSidebar" th:text="${homeData.nombre}" class="h4 ease-transform"></h1>
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <span class="heading">Menú</span>
            <ul class="list-unstyled">
                <li id="homeli" class="active"><a th:href="@{/home}"> <i class="icon-home"></i>Home </a></li>
                <li id="incidenciali">
                    <a th:href="@{/incidenciaL}">
                        <i class="icon-grid"></i>Incidencias
                    </a>
                </li>
                <li th:if="${homeData.isAdmin()}">
                    <a href="#adminDropdown" aria-expanded="false"
                       data-toggle="collapse">
                        <i class="icon-interface-windows"></i>Administración
                    </a>
                    <ul id="adminDropdown" class="collapse list-unstyled ">
                        <li id="usuarioli">
                            <a th:href="@{/admin/usuarioL}">
                                <i class="fa fa-user"></i>Usuarios
                            </a>
                        </li>
                        <li><a href="#">Estrategia</a></li>
                    </ul>
                </li>
                <li th:if="${homeData.isAdmin()}">
                    <a href="#mantDropdown"
                       aria-expanded="false"
                       data-toggle="collapse">
                        <i class="icon-interface-windows"></i>
                        Mantenimiento
                    </a>
                    <ul id="mantDropdown" class="collapse list-unstyled ">
                        <li><a th:href="@{/admin/categoriaC}"><i class="fa fa-clipboard"></i>Categorias</a></li>
                        <li><a th:href="@{/admin/tipoIncidenciaC}"><i class="fa fa-clipboard"></i>Tipo de Incidencia</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid ">
                    <h2 class="no-margin-bottom" th:text="${title}">Dashboard</h2>
                </div>
            </header>

            <section class="no-margin-top no-padding">
                    <div th:if="${template}" th:replace="@{${location} + ${template}} :: ${template}"></div>
            </section>
            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Micromax C.A. 2017-2019</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>